.controlPanel {
    background-color: #242337;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
}

.headerControl {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #191921;
    padding: 10px;
}

.Dropdown {
    padding: 10px;
}

.controlButtons {
    display: flex;
    margin: 0 10px;
    margin-top: 10px;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid #7e3af2;
}

.controlButton {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #7e3af2;
    border: none;
    border-radius: 20px;
    padding: 8px;
    cursor: pointer;
    font-size: 16px;
}

.controlButton.active {
    background-color: #7e3af2;
    color: #fff;
    border-radius: 20px;
    font-weight: bold;
}

.controlButton:last-child.active {
    border-radius: 20px;
}

.headerControl h1 {
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.controlMain {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 10px;
    flex-grow: 1;
}

.setupContainer, .createContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 15px;
    border: 1px solid #7426D6;
    border-radius: 16px;
    flex-grow: 1;
}

.setupMain, .createMain {
    background-color: #242337;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}


.setupMain{
    justify-content: space-between;

}
.selectOptions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 10px;
}

.inputControl {
    display: flex;
    align-items: center;
    background-color: #191921;
    padding: 10px;
    color: rgba(214, 214, 214, 0.603);
    border-style: none;
    border-radius: 8px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.buttonControl {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7e3af2;
    color: white;
    border-style: none;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 0.5s;
}

.buttonControl:hover {
    background-color: #7426D6;
    transition: all 0.5s;
}

.textControl {
    color: white;
    margin-bottom: 5px;
}

.selectControl {
    display: flex;
    align-items: center;
    background-color: #14141D;
    padding: 10px;
    color: rgba(214, 214, 214, 0.918);
    border-style: none;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 10px;
}

.buttonControlSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #100F1F;
    color: white;
    border-style: none;
    border-radius: 20px;
    padding: 10px;
    margin-top: 25px;
    cursor: pointer;
    width: 100%;
    box-shadow: 0px 0px 5px 0px #000000;
}

.logsTitle {
    color: white;
    font-size: 16px;
    margin-bottom: 5px;

}

.logs {
    width: 100%;
    height: 20%;
}

.logsContainer {
    background-color: #14141D;
    color: #7426D6;
    border-radius: 16px;
    width: 100%;
    min-height: 70%;
}


.descricao {
    width: 100%;
    padding: 3px;
}

.descricao p {
    color: #6363717a;
    font-size: 16px;
    margin-bottom: 10px;
}
