.containerGeral{
    display: flex;
    height: 100vh;
}

.leftContainer{
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #191921;
    color: white;
    padding: 10px;
}

.mainGraph{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    color: white;
}