
.customNode{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
}

.node{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-bottom-left-radius: 0px;
}

.containerGraph{

    background-color: rgba(0, 0, 0, 0.192);
    position: relative;
}

.uniforMap{
    width:1170px;
    position: absolute;
    top:0;
    left:0;
    z-Index:-1;
    opacity: 100%;
}
